body {
  height: 100%;
  color: white;
  font-size: 16px;
  vertical-align: middle;
  background-image: url("assets/cloud.jpg");
  background-repeat: no-repeat;
  background-size: cover;
    display: flex;
  flex-direction: column;
}

header {
  width: 100%;
}

.headerSpanContainer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 2rem 0;
  margin-left: 2rem;
}

main {
  display: flex;
  flex-flow: row;
  padding: 0, 2rem 2rem, 2rem;
}

section {
  flex: 1;
  align-items: center;
  border: 2px solid black;
}

img {
  margin: 0;
  padding: 0;
}

#songListSection {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.songItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border: 1px solid black;
}

#songPictureHolder {
  align-items: start;
  width: 8rem;
}

.songTitle > p {
  flex-grow: 1;
  margin-left: 2rem;
}

.songItem > span {
  margin-left: auto;
}

#songPlayerSection {
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
}

#songPictureHolderInPlayer {
  margin-top: 2rem;
  width: 90%;
  padding-left: 2rem;
  flex-grow: 0.5;
}

#songItemInPlayer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  width: 90%;
}

#songItemInPlayer > .songTitle {
  align-items: center;
}

#playingTimeInfo {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  width: 90%;
}

#timingLine {
  flex-grow: 1;
  margin-left: 4rem;
}

#songPlayerItem {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#repeat {
  padding-left: 2rem;
}

#shuffle {
  padding-right: 2rem;
}

#playerButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#playButton {
  padding: 1rem;
  font-size: 70px;
}

p:nth-child(even) {
  color: #777;
}

@media only screen and (max-width: 768px) {
  #songListSection {
    display: none;
  }

  #songItemInPlayer > .songTitle > p {
    width: 100%;
    margin-left: -1rem;
  }
}
